<?xml version="1.0" encoding="UTF-8"?>
<meta xmlns="http://exist-db.org/xquery/repo" commit-id="@commit-id@" commit-time="@commit-time@">
  <description>Dieses Paket enthält die Daten für die Rechtsquellen des Kantons Zürich</description>
  <author/>
  <website/>
  <status>alpha</status>
  <license>GNU-LGPL</license>
  <copyright>true</copyright>
  <type>application</type>
  <target>rqzh-data</target>
  <prepare>pre-install.xql</prepare>
  <finish>post-install.xql</finish>
  <permissions user="rqzh" group="tei" password="rqzh" mode="rw-rw-r--"/>
</meta>
